<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelController</display-name>
    <servlet-name>FuelController</servlet-name>
    <servlet-class>com.Controller.FuelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelController</servlet-name>
    <url-pattern>/FuelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PumpController</display-name>
    <servlet-name>PumpController</servlet-name>
    <servlet-class>com.Controller.PumpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PumpController</servlet-name>
    <url-pattern>/PumpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TankController</display-name>
    <servlet-name>TankController</servlet-name>
    <servlet-class>com.Controller.TankController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TankController</servlet-name>
    <url-pattern>/TankController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendantController</display-name>
    <servlet-name>AttendantController</servlet-name>
    <servlet-class>com.Controller.AttendantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendantController</servlet-name>
    <url-pattern>/AttendantController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>SetupController</display-name>
    <servlet-name>SetupController</servlet-name>
    <servlet-class>com.Controller.SetupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupController</servlet-name>
    <url-pattern>/SetupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionController</display-name>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>com.Controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <url-pattern>/TransactionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.Controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartController</display-name>
    <servlet-name>ChartController</servlet-name>
    <servlet-class>com.Controller.ChartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartController</servlet-name>
    <url-pattern>/ChartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartSservlet</display-name>
    <servlet-name>ChartSservlet</servlet-name>
    <servlet-class>com.Controller.ChartSservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartSservlet</servlet-name>
    <url-pattern>/ChartSservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceController</display-name>
    <servlet-name>PriceController</servlet-name>
    <servlet-class>com.Controller.PriceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceController</servlet-name>
    <url-pattern>/PriceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShiftController</display-name>
    <servlet-name>ShiftController</servlet-name>
    <servlet-class>com.Controller.ShiftController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShiftController</servlet-name>
    <url-pattern>/ShiftController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>com.Controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/ReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShiftController1</display-name>
    <servlet-name>ShiftController1</servlet-name>
    <servlet-class>com.Controller.ShiftController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShiftController1</servlet-name>
    <url-pattern>/ShiftController1</url-pattern>
  </servlet-mapping>
</web-app>